* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #ffffff;
    background-image: url(./assets/bg.png);
    background-position: center;
    background-size: cover;
    font-family: "Poppins", sans-serif;

}

body::after {
    content: '';
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}

[aria-label="navbar"] {
    background-color: black;
}

.navbar {
    width: 90vw;
    height: 12vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>div>img {
    width: 100px;
}

.line {

    width: 2px;
    height: 6vh;
}

.list {
    width: 65vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.list-item {
    margin-right: 2.5rem;
    cursor: pointer;
}

.button-small {
    background-color: #b90ec4;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: .7rem 2rem;
    font-weight: 600;
    cursor: pointer;
}

/* hero section  */

.hero {
    height: 70vh;
    width: 60vw;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading {
    font-size: 5rem;
    line-height: 1.2;
}

.hero-description {
    margin: .5rem 0 3rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.button-large {
    background-color: #b90ec4;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: .7rem 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    cursor: pointer;
}